{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %}{% trans "students" %}{% endblock meta_title %}
{% block title %}{% trans "conection with administration of site" %}{% endblock title %}
{% block status_message %}
{% if form.errors %}
<div class="alert alert-warning" role="alert">
{% trans "Please, correct next errors!" %}
</div>
{% endif %}
{{ block.super }}
{% endblock %}
{% block content %}
{% crispy form %}
{% endblock content %}
