{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "students" %}{% endblock meta_title %}
{% block title %}{% trans "Base of students" %}{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<a href="{% url "exam_add" %}" class="btn btn-primary">{% trans "add exam" %}</a>
{% endif %}
<!-- Start Students Listing -->
<table class="table">

{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<thead>
<tr>
<th>
<a href="{% url "exams" %}?order_by=#{% if order_by == '#' and reverse != '1' %}&amp;reverse=1{% endif %}">
#
{% if order_by == '#' and reverse != '1' %}&uarr;
{% elif order_by == '#' and reverse == '1' %}&darr;
{% endif %}
</a>
</th>
<th>
<a href="{% url "exams" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
{% trans "name" %}
{% if order_by == 'title' and reverse != '1' %}&uarr;
{% elif order_by == 'title' and reverse == '1' %}&darr;
{% endif %}
</a>
</th>
<th>
<a href="{% url "exams" %}?order_by=group{% if order_by == 'group' and reverse != '1' %}&amp;reverse=1{% endif %}">
{% trans "group" %}
{% if order_by == 'group' and reverse != '1' %}&uarr;
{% elif order_by == 'group' and reverse == '1' %}&darr;
{% endif %}
</th>
<th>
<a href="{% url "exams" %}?order_by=date{% if order_by == 'date' and reverse != '1' %}&amp;reverse=1{% endif %}">
{% trans "date" %}
{% if order_by == 'date' and reverse != '1' %}&uarr;
{% elif order_by == 'date' and reverse == '1' %}&darr;
{% endif %}
</th>
{% if user.is_authenticated %}
<th>{% trans "actions" %}</th>
{% endif %}
</tr>
</thead>
{% endwith %}

<tbody>
{% for exam in exams %}
<tr>
<td>{{ forloop.counter }}</td>
<td><a href="{% url "exam_edit" exam.id %}">{{ exam.title }}</td>
<td><a href="{% url "exam_edit" exam.id %}">{{ exam.group }}</td>
<td><a href="{% url "exam_edit" exam.id %}">{{ exam.date }}</td>
<td>
{% if user.is_authenticated %}
<div class="btn-group">
<button type="button" class="btn btn-default dropdown-toggle"
data-toggle="dropdown">{% trans "action" %}
<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li><a href="{% url "exam_edit" exam.id %}">{% trans "edit" %}</a></li>
<li><a href="{% url "exam_delete" exam.id %}">{% trans "delete" %}</a></li>
</ul>
</div>
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
<!-- End Students Listing -->
{% with object_list=exams %}
{% include "students/pagination.html" %}
{% endwith %}
{% endblock content %}